<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main>
        <h1 th:text="${title}"></h1>

        <a th:href="@{/users}"" th:text=" Volver"></a>

        <form th:action="@{/users}" method="POST" th:object="${user}">

            <input type="hidden" th:field="*{id}">

            <div>
                <label for="name">Nombre</label>
                <input type="text" th:field="*{name}" id="name">
            </div>

            <div>
                <label for="lastname">Apellido</label>
                <input type="text" th:field="*{lastname}" id="lastname">
            </div>

            <div>
                <label for="email">E-mail</label>
                <input type="text" th:field="*{email}" id="email">
            </div>

            <div>
                <label for="username"></label>
                <input type="text" th:field="*{username}" id="username">
            </div>

            <div>
                <label for="password">Contraseña</label>
                <input type="password" th:field="*{password}" id="password">
            </div>

            <button type="submit" th:value="${(user.id != null && user.id > 0) ? 'Editar' : 'Añadir'}"></button>
        </form>
    </main>

</body>

</html>