<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main>
        <h1 th:text="${title}"></h1>

        <a th:href="@{/users}" th:text="'Volver'"></a>

        <!-- Formulario con objeto user -->
        <form th:action="@{/users}" method="POST" th:object="${user}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{createdAt}">

            <div>
                <label for="name">Nombre</label>
                <input type="text" th:field="*{name}" id="name">
            </div>

            <div>
                <label for="lastname">Apellido</label>
                <input type="text" th:field="*{lastname}" id="lastname">
            </div>

            <div>
                <label for="email">E-mail</label>
                <input type="text" th:field="*{email}" id="email">
            </div>

            <div>
                <label for="username">Usuario</label>
                <input type="text" th:field="*{username}" id="username">
            </div>

            <div>
                <label for="password">Contraseña</label>
                <input type="password" th:field="*{password}" id="password">
            </div>

            <!-- Botón que muestra "Editar" o "Añadir" basado en el id del usuario; se usa 'and' en la expresión -->
            <button type="submit" th:text="${(user.id != null and user.id > 0) ? 'Editar' : 'Añadir'}"></button>
        </form>
    </main>
</body>

</html>